/* General styles */

html {
  position: relative;
  height: 100%;
  min-height: 100%;
}
body {
  padding-bottom: 45px; /* Padding bottom by footer height */
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #212122;
  height: 100%;
}

#root, #root .root-wrap {
  height: 100%;
}

h1, h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

/* links */
a {
  color: #009598;
  text-decoration: underline;
}

a:hover {
  color: #004C4E;
}

.fas{
  color: #009598;
}

.font-weight-bold {
  font-family: 'Nunito';
  font-weight: 600 !important;
}

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.centered {
  margin:auto;
  display:block;
}

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px; /* Set the fixed height of the footer here */
  line-height: 45px; /* Vertically center the text there */
  background-color: #F0F0F0;
}

.footer .text-muted {
  font-size: 14px;
}

@media (max-width: 992px) { /* we hide the sticky footer */
  .footer {
      display: none;
  }
}

/* Main layout
-------------------------------------------------- */
.mainview {
   background-color: #F9F9FB;
}

@media (min-width: 576px) {
  .container-fluid.content {
      height: 100%;
  }
  .container-fluid.content>.row {
      height: 100%;
  }    
  .mainview, .subview {
      height: 100%;
      overflow: auto;        
  }
}

/* Left nav
-------------------------------------------------- */
.navbar-toggler {
  border: none;
}

.navview .nav-item{
  font-family: 'Nunito';
  font-size: 1.1em;
}

.navview .navbar-light .navbar-nav .nav-item .nav-link{
  text-decoration:none;
  color: #CA0027;
  padding-left: 20px;
  transition: background-color .2s, color .2s;
}

.navview .navbar-light .navbar-nav .nav-item.active .nav-link, 
.navview .navbar-light .navbar-nav .nav-item .nav-link:hover{
  background-color: rgba(202, 0, 40, 0.1);
  border-left: #CA0027 5px solid;
  padding-left: 15px;
}

@media (max-width: 992px) { 
  .navbar-brand img{
      max-width: 125px;
      margin-left: 54px !important;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
      width: 100%;
      text-align: center;
  }
  .navbar-brand img{
      width: auto;
      max-width: 100%;
      padding-top:5px;

  }
}

.user-info {
  margin:0.8rem;
}

/* Crop the image inside a square proportional div 
*/

.profile-pic {
  background: url(./assets/bg_profile.png) no-repeat 0 0;
  background-size: contain;
  max-width: 180px;
  width: 100%;
  height: auto;
  transition: 0.3s;
  transform: scale(1, 1);
}

.profile-pic:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.profile-pic:hover {
  transform: scale(1.05, 1.05);
}

.profile-pic img {
  position: absolute;
  left: 4%;
  top: 4%;
  width: 92%;
  height: 92%;
  transition: 0.3s;
  border-radius:50%;
  object-fit: cover;
}

.profile-pic:hover img {
  left: 6%;
  top: 6%;
  width: 88%;
  height: 88%;
}



/* Main content
-------------------------------------------------- */
.container-block {
  background: #FFFFFF;
  box-shadow: 0 0 5px -4px rgba(0,0,0,0.50);
  border-radius: 8px;
  padding: 0.8em;
  margin-bottom:1em;
}


/* Forms
-------------------------------------------------- */

.center-form {
  max-width: 600px;
  margin: 0 auto;
}

/* buttons */

.btn {
  transition: 0.3s;
  text-decoration: none !important;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.05,1.05);
  text-decoration: none !important;
}

.btn:active {
  opacity: 1;
}

.btn:focus {
  box-shadow: 0 0 0 0.1rem rgb(202, 202, 202) !important;  
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle  {
color: #fff;
background-color: #009598;
border: .05rem solid #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle  {
color: #009598;
background-color: #fff;
border: .05rem solid #009598;
}

.btn-primary-inverse,
.btn-primary-inverse:hover,
.btn-primary-inverse:focus,
.btn-primary-inverse:not(:disabled):not(.disabled):active, .btn-primary-inverse:not(:disabled):not(.disabled).active,
.show > .btn-primary-inverse.dropdown-toggle {
  color: #009598;
  background-color: #fff;
  border: .05rem solid #009598;
}

.btn-secondary-inverse,
.btn-secondary-inverse:hover,
.btn-secondary-inverse:focus,
.btn-secondary-inverse:not(:disabled):not(.disabled):active, .btn-secondary-inverse:not(:disabled):not(.disabled).active,
.show > .btn-secondary-inverse.dropdown-toggle {
  color: #fff;
  background-color: #009598;
  border: .05rem solid #fff;
}

/* input */

.form-control:focus {
  border-color: #009598;
  box-shadow: none;
}

/* Float label
-------------------------------------------------- */

.has-float-label {
display: block;
position: relative
}

.has-float-label label,
.has-float-label>span {
position: absolute;
cursor: text;
font-size: 75%;
opacity: 1;
-webkit-transition: all .2s;
transition: all .2s;
top: -.5em;
left: .75rem;
z-index: 3;
line-height: 1;
padding: 0 1px
}

.has-float-label label::after,
.has-float-label>span::after {
content: " ";
display: block;
position: absolute;
background: #fff;
height: 2px;
top: 50%;
left: -.2em;
right: -.2em;
z-index: -1
}

.has-float-label .form-control::-webkit-input-placeholder {
opacity: 1;
-webkit-transition: all .2s;
transition: all .2s
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
opacity: 0
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
font-size: 100%;
opacity: .5;
top: .7em
}

.input-group .has-float-label {
display: table-cell
}

.input-group .has-float-label .form-control {
border-radius: .25rem
}




/* Pages
-------------------------------------------------- */

/* landing page */

.landing-info {
  color: #fff;
  background-color: #009598;
}

/* sign in */

.signin {
  width: 320px;
  margin: 0 auto;
}

.upload-photo {
  margin-bottom: 15px;
}

.upload-photo input:hover {
  cursor: pointer;
}

.upload-photo label{
  text-align: left;
}

.upload-photo label .fas{
  font-size: 1.2em;
  margin-right: 5px;
}

/* create team */
.addmember-wrap {
  padding:0 10px 0 0;
}

/* my team */
.my-team-member {
  width: 9rem;
  text-align: center;
  border: none;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .my-team-member {
      width: 12rem;
  }
}


.my-team-member .card-body {
  padding: 0.5rem;
}

a.list-group-item-action {
  color:#009598;
}
a.list-group-item-action:hover {
  color:#004C4E;
  text-decoration: underline;
}

/* checkpoint */
.other-assess span {
  display: block;
}

/* assessment */

.assessment-form .form-group {
  width: 100%;
  display: block;
}

@media (min-width: 576px) {
  .assessment-form .form-group {
      width: 46%;
      display: inline-block;
      margin: 0 1.5%;
  }
}